{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <div class="middle"><h1 class="heading"><a href="/" class="non-styled">{{ restaurant.name }}</a></h1></div>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="../images/{{ restaurant.image_url }}" alt="{{ restaurant.image_url }}" height="400px" width="400px">
        </div>
        <div class="col-lg-5 col-lg-offset-2">
            <h4>{{ restaurant.cuisine }} cuisine</h4>
            <h4>Located in {{ restaurant.address_city }}, {{ restaurant.address_state }}</h4>
            <br>
            <p>{{ restaurant.description }}</p>
            <br>
            {% if averageRating %}
                {% set ratingArray = Array(averageRating) %}
            {% endif %}
            <p>Rating: {% for number in ratingArray %} <img class="rating" src="../images/full.svg.png"> {% endfor %}</p>
            <a href="/restaurants/{{ restaurant.id }}/edit" class="btn btn-primary">Edit</a>
            <a href="/restaurants/{{ restaurant.id }}/delete" class="btn btn-danger">Delete</a>
            <a href="/restaurants/{{ restaurant.id }}/reviews/new" class="btn btn-info">Add Review</a>
        </div>
        <div class="container">
            {% for review in reviews %}
            <div class="col-lg-6 col-lg-offset-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ review.reviewer }} <span class="pull-right">{{ review.review_date | date('m-d-Y') }}</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="block-inline">
                                <div class="wrapper"><span class="reviewBody truncate">{{ review.review }}</span></div>
                          <h4 class="dark">{% set ratingArray = Array(review.rating) %}{% for number in ratingArray %} <img class="rating" src="../images/full.svg.png" height="30px" width="30px"> {% endfor %}
                          <span class="pull-right"><a href="/restaurants/{{ restaurant.id }}/reviews/{{ review.id }}/edit" class="btn btn-warning">Edit</a></span>
                          </h4>
                        </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}