{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <div class="middle"><h1 class="heading">{{ title }}</h1></div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/new">New Restaurant</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    {% for restaurant in restaurants %}
    <div class="col-lg-4">
        <a href="/show" class="non-styled">
          <div class="panel panel-danger" style="background-image: url('../images/{{ restaurant.image }}'); ">
            <div class="panel-heading">
              <h3 class="panel-title">{{ restaurant.name }}</h3>
            </div>
            <div class="panel-body">
              <div class="bottom">
                <div class="block-inline">
                  <h4 class="dark">{{ restaurant.cuisine }} Cuisine</h4>
                  <h4 class="dark">{{ restaurant.location }}, {{ restaurant.state }} &nbsp;&nbsp;<span class="pull-right">{% for number in restaurant.rating %} <img class="rating" src="../images/full.svg.png" height="40px" width="40px"> {% endfor %}</span></h4>
                </div>
              </div>
            </div>
          </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
