body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.heading {
    text-align: center;
}

.middle {
    margin: 0 auto;
}

.panel {
    height: 350px;
}

.non-styled {
    text-decoration: none;
    color: white;
}

.non-styled:hover {
    text-decoration: none;
    color: white;
}

.rating {
    margin: -10px;
}

.panel {
    background-size: 300px, 300px;
    background-repeat: no-repeat;
    background-color: #FFFFFD;
    background-position: center;
}

.dark {
    color: #222222;
}

.bottom {
    position: absolute;
    bottom: 15px;
}

/*.right-align {
    position: relative;
    left: 10%;
    bottom: 15px;
}*/